@import "bootstrap/bootstrap"

.modal-backdrop
	height: 100%

body
	background: #ddd

#main
	@extend .col-md-6
	@extend .col-md-offset-3
	@extend .col-sm-10
	@extend .col-sm-offset-1
	margin-top: 15vh

	&Content
		background: #fff
		padding: 30px 20px
		border-radius: 10px
		margin-bottom: 40px

	h2
		@extend .text-center
		color: #445588
		margin-bottom: 30px

.contactModal
	display: inline-block

.addContact
	margin-top: 30px

.form-contact
	label
		@extend .text-center
		display: block